.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f9f4;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  .font {
    height: 79%;
    width: 302px;
    position: relative;
    border-radius: 10px;
  }
  
  .top {
    height: 41%;
    width: 100%;
    background-image: url(./back.png);
    background-size: cover;
    position: relative;
    z-index: 5;
  }
  
  .padding {
    margin-right: 23px;
    height: 100%;
  }
  
  
  .top .title {
    height: 35px;
    width: 114px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 50%;
  }
  .top .user {
    height: 100px;
    width: 100px;
    border-color: 2 rem solid black !important;
    border-radius: 3rem;
    position: absolute;
    top: 142px;
    left: 97px;
  }
  .bottom {
    height: 70%;
    width: 100%;
    background-color: white;
    position: absolute;
  }
   .name {
    margin-top: 49px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-emphasis: spacing;
    margin-bottom: 3px;
  } 
  .desc {
    font-size: 14px;
    background-color: #29166f;
    color: white;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 18px;
    font-weight: normal;
    margin-left: 71px;
  }
  .bottom .no {
    font-size: 17px;
    font-weight: 200;
    margin-top: 23px;
    margin-bottom: 0px;
  }
  .barcode {
    text-align: center;
    top: 39px;
  }
  .barcode img {
    height: 44px;
    width: 120px;
    text-align: center;
    margin-top: 12px;
  }
  .text{
    font-size:x-small;
    margin-left: 12px;
    font-weight:bold;
    line-height: 1.3rem;
  }
  .text span{
    color: #4a31a4;
  }
  /* .sign {
    height: 42%;
    width: 100%;
    background-image: url(./uop.png);
    background-size: cover;
    margin-top: 38px;
  } */
  @media screen and (max-width: 400px) {
    .container {
      height: 130vh;
    }
    .container .front {
      margin-top: 50px;
    }
  }
  @media screen and (max-width: 600px) {
    .container {
      height: 130vh;
    }
    .container .front {
      margin-top: 50px;
    }
  }
  