.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}
.form-select:focus {
  border-color: #ced4da;
  box-shadow: none;
}
.searchs-btn .btn {
  background-color: white;
  color: black;
  font-size: 17px;
}
.searchs-btn .btn:hover {
  background-color: rgb(234, 139, 16);
}
